
	<div class="row mt-5 ml-5 mr-5">
		<div class="col-md-12">
			<div *ngIf="successMessage" class="alert alert-success text-center" role="alert">
			{{ successMessage }}
			</div>
			<div class="card">
			<div class="card-header">
                        <h2>Add</h2>
                    </div>
				<div class="card-body">				
					<form #blogForm="ngForm" (ngSubmit)="addBlog(blogForm.value)">

					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" required #title="ngModel" name="title" placeholder="enter title" [ngModel]="selectedblog?.title" class="form-control">					
					</div>
					<div *ngIf="title.invalid && title.touched" class="text-danger">
					Title is required
					</div>

          			<div class="form-group">
						<label for="content">Content</label>
						<textarea required #content="ngModel" name="content" placeholder="enter content" [ngModel]="selectedblog?.content" class="form-control"></textarea>					
					</div>
					<div *ngIf="content.invalid && content.touched" class="text-danger">
					Content is required
					</div>

					@if(selectedblog){
						<button class="btn btn-primary" [disabled]="blogForm.invalid">Update Blog</button> 
					}@else{
						<button class="btn btn-primary" [disabled]="blogForm.invalid">Add Blog</button> 
					}		
					
					</form>			
				</div>
			</div>
		</div>
	</div>

<div class="row mt-5 ml-5 mr-5">
		<div class="col-md-12">
    
        @if(blogdata){
			<div class="card">
				<div class="card-header ">			
					<h4>
							Listing					
					</h4>
              </div>				
				<div class="card-body">	
				<table class="table table-bordered table-striped">
				 <tr>
				 <th>Title</th>				 
				 <th>Content</th>
          		<th>Action</th>
				 </tr>
				@for(blog of blogdata;track blog){
				 <tr>				 
				 <td>{{ blog.title }}</td>
				 <td>{{ blog.content }}</td>
          <td><button (click)="selectBlog(blog.id)" class="btn btn-primary mr-2">Update</button><button (click)="deleteBlog(blog.id)" class="btn btn-danger">Delete</button></td>
         
				 </tr>
				}		 
				 </table>						 	 
				</div>			
			</div>
        }
		</div>
	</div>