 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {height: 550px} 
 .revenuebutton1 {
 background-color: blue;
 border: none;
 color: white;
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 10px;
 margin: 4px 1px;
 cursor: pointer;
 border-radius:5px;
} 



.revenuebutton2 {
   background-color: white;
 border: none;
 color: black;
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 10px;
 margin: 4px 1px;
 cursor: pointer;
 border-radius:5px;
 border: 2px solid #e7e7e7;
} 


.conclutionbtn{
   background-color: #FFE5CC;
 border: none;
 color: red;
 padding: 5px 18px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 10px;
 font-weight: bold;
 margin: 4px 1px;
 cursor: pointer;
 border-radius:5px; 

}
.depositbtn{

   background-color: #E5FFCC;
 border: none;
 color: green;
 padding: 5px 29px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 10px;
 font-weight: bold;
 margin: 4px 1px;
 cursor: pointer;
 border-radius:5px; 
}


   /* On small screens, set height to 'auto' for the grid */
   @media screen and (max-width: 767px) {
     .row.content {height: auto; } 
     
   }
   .rclass1{padding:3px;border-bottom: 2px solid blue;width:60%;display: inline-block;}
   .rclass2{padding:3px;border-bottom: 2px solid blue;width:50%;display: inline-block;}
   .rclass3{padding:3px;border-bottom: 2px solid blue;width:80%;display: inline-block;}
   .rclass4{padding:3px;border-bottom: 2px solid blue;width:10%;display: inline-block;}
  
   #loader3 {
 position: absolute;
 left: 103%;
   top: 80%;
 z-index: 1;
 width: 50px;
 height: 50px;
 margin: -75px 0 0 -75px;
 border: 3px solid #3498db;
 border-radius: 50%;
 border-top: 3px solid grey;
 width: 15px;
 height: 15px;
 
 
}


#loader1 {
 position: absolute;
 left: 103%;
   top: 80%;
 z-index: 1;
 width: 50px;
 height: 50px;
 margin: -75px 0 0 -75px;
 border: 3px solid green;
 border-radius: 50%;
 border-top: 3px solid grey;
 width: 15px;
 height: 15px; 
}


#loader2 {
 position: absolute;
 left: 103%;
   top: 80%;
 z-index: 1;
 width: 50px;
 height: 50px;
 margin: -75px 0 0 -75px;
 border: 3px solid red;
 border-radius: 50%;
 border-top: 3px solid grey;
 width: 15px;
 height: 15px;
}

  /* Media Queries: Tabled Portrait */
 
  .revenuebutton1 {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius:5px;
   }
   
   
   @media screen and (max-width: 768px) {
       
       .revenuebutton1 { background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius:5px;
   margin-left:-48px;
   }
       
   }
   
   
   
   
   
   @media screen and (max-width: 360px) {
       .revenuebutton1 { background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius:5px;
   margin-left:-45px;
   }
       
   }
   
   
   @media screen and (max-width: 320px) {
       .revenuebutton1 { background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius:5px;
   margin-left:-66px;
   }
       
   }
   
   
   
       
   
   
   
   @media screen and (max-width: 280px) {
       .revenuebutton1 { background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius:5px;
   margin-left:-94px;
   }
       
   }
   
   
   
   
      
      /* =Inline bulleted lists
      -------------------------------------------------------------- */
      .list-horizontal1 li {
          display:inline-block;
      }
      .list-horizontal1 li:before {
          content: '\00a0\2022\00a0\00a0';	
          color:#00FF7F;
          font-size:20px;
      }
      .list-horizontal1 li:first:before {
          content: '';
      }
      
      
      
      
      .list-horizontal2{margin-left: 95px;}
      .list-horizontal2 li {
          display:inline-block;
          
      }
      .list-horizontal2 li:before {
          content: '\00a0\2022\00a0\00a0';
          
          color:blue;
          font-size:20px;
          
      }
      .list-horizontal2 li:first:before {
          content: '';
      }
      
      
      
      .list-horizontal3{margin-left: 150px;}
      .list-horizontal3 li {
          display:inline-block;
      }
      .list-horizontal3 li:before {
          content: '\00a0\2022\00a0\00a0';
          
          color:red;
          font-size:20px;
      }
      .list-horizontal3 li:first:before {
          content: '';
      }
   
   
   
      .list-horizontal4{margin-left: 200px;}
      .list-horizontal4 li {
          display:inline-block;
      }
      .list-horizontal4 li:before {
          content: '\00a0\2022\00a0\00a0';
          
          color:rgb(255, 192, 231);
          font-size:20px;
      }
      .list-horizontal4 li:first:before {
          content: '';
      }
   
   
   
   
      .list-horizontal5{margin-left: 200px;}
      .list-horizontal5 li {
          display:inline-block;
      }
      .list-horizontal5 li:before {
          content: '\00a0\2022\00a0\00a0';
          
          color:#87CEFA;
          font-size:20px;
      }
      .list-horizontal5 li:first:before {
          content: '';
      }
   
   
      .list-horizontal6{margin-left: 200px;}
      .list-horizontal6 li {
          display:inline-block;
      }
      .list-horizontal6 li:before {
          content: '\00a0\2022\00a0\00a0';
          
          color:#FFDB58;
          font-size:20px;
      }
      .list-horizontal6 li:first:before {
          content: '';
      }
   
   
   
      .list-horizontal7{margin-left: 200px;}
      .list-horizontal7 li {
          display:inline-block;
      }
      .list-horizontal7 li:before {
          content: '\00a0\2022\00a0\00a0';
          
          color:#DCDCDC;
          font-size:20px;
      }
      .list-horizontal7 li:first:before {
          content: '';
      }
   
     
   
      .subscriptionbutton1 {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius:5px;
   }
   .subscriptionbutton2 {
      background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius:5px;
    border: 2px solid #e7e7e7;
   } 
   
   
   @media (min-width: 280px) {
       .revfooter{margin-top: 185px;margin-left: -59px;}
       .revbarfooter{margin-top:-140px;margin-left: -36px;}
       .editimgcss{ margin-top: -19px;margin-left: 205px;}
       .editimgcss2{ margin-top: -19px;margin-left: 205px;}
   
   } 
   
   @media (min-width: 320px) {
       .revfooter{margin-top: 175px;margin-left: -36px;} 
       .revbarfooter{margin-top:-140px;margin-left: -36px;}
       .subscss{margin-left:-2px;}  
       .editimgcss2{ margin-top: -19px;margin-left: 238px;}
       .editimgcss{ margin-top: -19px;margin-left: 238px;}
   }
   @media (min-width: 360px) {
       .revfooter{margin-top: 178px;margin-left: -36px;} 
       .revbarfooter{margin-top:-140px;margin-left: -36px;}
       .subscss{margin-left:-5px;}  
       .editimgcss2{ margin-top: -19px;margin-left: 282px;}
       .editimgcss{ margin-top: -19px;margin-left: 282px;}
   }
   @media (min-width: 375px) {
       .revfooter{margin-top: 165px;margin-left: -36px;}
       .revbarfooter{margin-top:-140px;margin-left: -36px;}
       .editimgcss2{ margin-top: -19px;margin-left: 295px;}
       .editimgcss{ margin-top: -19px;margin-left: 295px;}
   }
   @media (min-width: 411px) {
       .revfooter{margin-top: 176px;margin-left: -36px;}  
       .revbarfooter{margin-top:-115px;margin-left: -36px;}
       .subscss{margin-left:23px;}  
       .editimgcss2{ margin-top: -19px;margin-left: 333px;}
       .editimgcss{ margin-top: -19px;margin-left: 333px;}
   }
   @media (min-width: 414px) {
       .revfooter{margin-top: 136px;margin-left: -36px;}
       .revbarfooter{margin-top:-110px;margin-left: -36px;}
       .editimgcss2{ margin-top: -19px;margin-left: 335px;}
       .editimgcss{ margin-top: -19px;margin-left: 335px;}
   }
   @media (min-width: 450px) {
       .revfooter{margin-top: 125px;margin-left: -36px;}
       .revbarfooter{margin-top:-110px;margin-left: -36px;}
       .subscss{margin-left:68px;} 
       .editimgcss2{ margin-top: -19px;margin-left: 375px;}
       .editimgcss{ margin-top: -19px;margin-left: 375px;}
       .subscss{margin-left:10px;}
   }
   
   @media (min-width: 600px) {
    .revfooter{margin-top: 138px;margin-left: -36px;}
    .revbarfooter{margin-top:-100px;margin-left: -36px;}
    .subscss{margin-left:137px;}
    .editimgcss2{ margin-top: -19px;margin-left: 510px;}
    .editimgcss{ margin-top: -19px;margin-left: 525px;}
}


   @media (min-width: 640px) {
    .revfooter{margin-top: 138px;margin-left: -36px;}
    .revbarfooter{margin-top:-100px;margin-left: -36px;}
    .subscss{margin-left:137px;}
    .editimgcss2{ margin-top: -19px;margin-left: 560px;}
    .editimgcss{ margin-top: -19px;margin-left: 565px;}
}
   @media (min-width: 731px) {
    .revfooter{margin-top: 138px;margin-left: -36px;}
    .revbarfooter{margin-top:-100px;margin-left: -36px;}
    .subscss{margin-left:137px;}
    .editimgcss2{ margin-top: -19px;margin-left: 600px;}
    .editimgcss{ margin-top: -19px;margin-left: 656px;}
  }

   @media (min-width: 768px) {
       .revfooter{margin-top: 121px;margin-left: -36px;}
       .revbarfooter{margin-top:-140px;margin-left: -36px;}
       .subscss{margin-left:84px;}     
       .editimgcss2{ margin-top: -19px;margin-left: 390px;}
       .editimgcss{ margin-top: -19px;margin-left: 178px;}
   }
   
   @media (min-width: 823px) {
    .revfooter{margin-top: 138px;margin-left: -36px;}
    .revbarfooter{margin-top:-121px;margin-left: -36px;}
    .subscss{margin-left:137px;}
    .editimgcss2{ margin-top: -19px;margin-left: 426px;}
    .editimgcss{ margin-top: -19px;margin-left: 177px;}
  }
   @media (min-width: 1024px) {
       .revfooter{margin-top: 132px;margin-left: -36px;}     
       .revbarfooter{margin-top:-104px;margin-left: -36px;}
       .editimgcss2{ margin-top: -19px;margin-left: 448px;}
       .editimgcss{ margin-top: -19px;margin-left: 248px;}
   }
   
   @media (min-width: 1366px) {
       .revfooter{margin-top: 178px;margin-left: -36px;}
       .revbarfooter{margin-top:-100px;margin-left: -36px;}
       .subscss{margin-left:137px;}
       .editimgcss2{ margin-top: -19px;margin-left: 448px;}
       .editimgcss{ margin-top: -19px;margin-left: 318px;}
   }






