<div class="row ml-4">

    <div class="col-2">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:  #39A6A3;">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold">Employee App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/employee">Employees</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/project">Projects</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/project-employees">Project Employee</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="col-10 ml-8">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>