<div class="container mt-2">
    <mat-toolbar color="primary">
        <span>View User</span>
    </mat-toolbar>
  
    <button class="m-2" mat-raised-button color="primary" [routerLink]="['/post/index']">
    <mat-icon>arrow_back</mat-icon> Back
    </button>   

   
    <mat-card class="mat-elevation-z2">
   
    <mat-card-content>

    <p><strong>Id:</strong> {{ post.id }}</p>
    <p><strong>Name:</strong> {{ post.name }}</p>
    <p><strong>Email:</strong> {{ post.email }}</p>
    <p><strong>Age:</strong> {{ post.age }}</p>

    </mat-card-content>
    </mat-card>

   
</div>