.container {
  padding: 16px;
}

.full-width-table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  padding: 12px;
}
.paginator-container {
  display: flex;
  justify-content: left;
  margin-top: 20px; /* Optional spacing */
}
