<div class="container">
    <h1>Create New User</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="name">Name:</label>
            <input 
                formControlName="name"
                id="name" 
                type="text" 
                class="form-control">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors 
                && f['name'].errors['required']">
                Name is required.
                </div>
            </div>
        </div>


  
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                formControlName="email"
                id="email" 
                type="text" 
                class="form-control">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                Email is required.
                </div>
            </div>
        </div>




        <div class="form-group">
            <label for="age">Age</label>
            <input 
                formControlName="age"
                id="age" 
                type="text" 
                class="form-control">
            <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
                <div *ngIf="f['age'].errors && f['age'].errors['required']">
                Age is required.
                </div>
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>